:root {
    --font: var(--font-jost-bold), sans-serif;
    --font-size: 1.6rem;
    --title-font-size: 2.2rem;
    --text-base: #F5E8D8;
    --gap-size: 1.6rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--text-base);
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: 600;
    background-color: #1C1C1C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
}

::selection {
    background-color: var(--text-base);
    color: #1C1C1C;
}

p {
    margin-bottom: 2.4rem;
}

a {
    color: var(--text-base);
}

a:hover {
    color: #ffffff;
}

#image-preview {
    display: none;
    height: 100%;
    margin-top: 5rem;
}

#image-preview-card {
    max-width: 75%;
}

#image-preview-card p {
    margin-bottom: 0.8rem;
}

#image-preview.active {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#image-preview-content {
    display: block;
    max-width: 100%; 
    max-height: 75vh;
    object-fit: contain;
}